language: php

php: [5.3, 5.4, 5.5]

before_script:
  - export WEB_FIXTURES_HOST=http://localhost/index.php

  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - sleep 4

  - curl http://selenium.googlecode.com/files/selenium-server-standalone-2.33.0.jar > selenium.jar
  - java -jar selenium.jar > /dev/null &
  - sleep 4

  - curl http://switch.dl.sourceforge.net/project/sahi/sahi-v44/sahi_20130429.zip > sahi.zip
  - unzip sahi.zip > /dev/null
  - cd sahi/bin
  - sh sahi.sh > /dev/null &
  - cd -
  - sleep 4

  - npm install zombie@0.12.15

  - curl http://getcomposer.org/installer | php
  - php composer.phar install --prefer-source --dev

  - sudo apt-get update > /dev/null
  - sudo apt-get install -y --force-yes apache2 libapache2-mod-php5 > /dev/null
  - sudo sed -i -e "s,/var/www,$(pwd)/Tests/Resources/public,g" /etc/apache2/sites-available/default
  - sudo /etc/init.d/apache2 restart

script: phpunit -v
